<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Water Page</title>
  </head>
  <body>
    <h1>Welcome to the Water Page!</h1>
    <a href="http://localhost:3000/fire">Fire</a>
    <a href="http://localhost:3000/grass">Grass</a>
    <p>
      This page is a water-themed page for your website. The water is a symbol
      of life, growth, and renewal. It's a reminder that we should always
      appreciate the beauty of our surroundings, that we should take care of
      ourselves and our planet, and that we should always strive to be a better
      version of ourselves.
    </p>
    <p>
      To create a water-themed website, you can use colorful, soft, and relaxing
      images to represent the water. You can also create a simple, visually
      appealing water animation or sound effect to help the user feel more
      connected to the water. Remember to always follow safety guidelines and
      practices when creating a water-themed website.
    </p>
    <p>
      If you have any questions or need further assistance, please don't
      hesitate
    </p>
  </body>
</html>
